$dark-gray: #333;
$light-gray: #ececec;
$gray: gray;
$purple: #8d5a9f;
$blue: #74a2cc;
$green: #8ebb58;
$orange: #d9874d;
$orange-light: #feede5;
$error: #de2700;
$error-light: #FFA6A6;
$yellow: #f9f2da;

$font: "Lato", Arial, sans;
$monospace-font: "Droid Sans Mono", monospace;
$math-font: "Times New Roman", serif;

$footer-height: 36px;

body
{
	padding: 0;
	margin: 0;

	font-family: $font;

	background: $light-gray;
}

footer
{
	width: 100%;
	height: $footer-height;
	position: absolute;
	left: 0;
	bottom: 0;

	h1
	{
		margin: 0;
		padding: $footer-height/2 0 0 66px;
		height: $footer-height;
		font-size: 10pt;
		font-weight: 300;
		color: rgba(0, 0, 0, 0.7);
		line-height: 0;
		box-sizing: border-box;
	}

	&:before
	{
		content: " ";

		position: absolute;
		left: 14px;
		top: 3px;
		width: 53px;
		height: 29px;
		display: block;
		transform: scale(0.7);

		background-image: url('../img/materialogo.png');
	}
}