@import "main";

$arrow-size: 50px;
$interactive-box-height: 200px;
$input-width: 90px;
$box-eq-width: 440px;
$box-eq-height: 100px;

body
{
	// width: 700px;
	// height: 500px;

	background: $light-gray url('../img/bg.svg');
}

.error-msg
{
	width: 100%;
	display: none;

	padding: 10px;

	text-align: center;

	background: $error-light;
}

main
{
	width: 700px;
	margin: 0 auto;
}

.box
{
	padding: 1em;

	background: white;

	h2, h3
	{
		margin: 0;

		font-size: 14pt;
		color: $purple;
	}
}

.box.eq
{
	position: relative;

	box-sizing: border-box;
	margin: 20px auto;
	width: $box-eq-width;
	height: $box-eq-height;

	border: 1px solid rgba(0, 0, 0, .25);
	box-shadow: 0 2px 0 rgba(0, 0, 0, .25);

	h2
	{
		font-size: 11pt;
	}

	.eq-container
	{
		position: absolute;
		left: 0;
		top: $box-eq-height / 2;
		right: 0;
		bottom: 0;

		.eq-input
		{
			position: relative;

			display: block;

			font-size: 18pt;
			text-align: center;

			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
		}
	}
}

.interactive-section
{
	box-sizing: border-box;
	margin: 0 20px;
	height: 295px;
	padding: 15px;

	background: $yellow;
	border: 1px solid rgba(0, 0, 0, .25);
	box-shadow: 0 2px 0 rgba(0, 0, 0, .25);

	.help
	{
		text-align: center;

		h2
		{
			display: inline-block;

			margin: 0;
			padding: 0;

			font-size: 10pt;
		}

		p
		{
			display: inline-block;

			margin: 0 0 10px 0;
			padding: 0;

			font-size: 10pt;
		}
	}

	.box
	{
		display: inline-block;
		width: 260px;
		height: $interactive-box-height;
		vertical-align: top;

		border: 1px solid $blue;
	}
}

.box.variables
{
	position: relative;
	z-index: 2;

	overflow: auto;

	ul
	{
		display: block;

		padding: 0;
		margin-right: 70px;

		font-size: 20pt;
		text-align: right;
		font-family: $math-font;

		list-style-type: none;

		li
		{
			margin-bottom: 4px;

			input
			{
				width: $input-width;

				font-family: $math-font;
				font-size: 20pt;

				border: 1px solid $gray;

				&.empty
				{
					border: 1px solid $orange;
					outline: 1px solid $orange;
					background: $orange-light;
				}

				&.invalid
				{
					border: 1px solid $error;
					outline: 1px solid $error;
					background: $error-light;
				}
			}
		}
	}
}

.box.output
{
	position: relative;
	float: right;

	&:before
	{
		content: "\2192";

		position: absolute;
		left: -$arrow-size;
		top: 0;

		color: $blue;
		font-size: $arrow-size;
		line-height: $interactive-box-height;
		font-family: Arial;
	}

	.result
	{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;

		margin-top: $interactive-box-height / 2;

		text-align: center;
		font-size: 20pt;
		font-family: $math-font;
	}
}

.parse-error
{
	.error-msg
	{
		display: block !important;
	}
}