<!DOCTYPE html>
<html ng-app="player">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>
		<script src="materia.score.js"></script>

		<link rel="stylesheet" href="assets/vendor/mathquill-0.9.4/mathquill.css">
		<link rel="stylesheet" href="assets/stylesheets/player.css">
	</head>
	<body ng-controller="PlayerController" ng-class="{'parse-error':parseError}">

		<header>
			<h1>Equation Sandbox</h1>
		</header>

		<div class="error-msg">
			Unable to parse equation - perhaps you got a bad link?
		</div>

		<main class="loading">

			<div class="box eq">
				<h2>Equation:</h2>
				<div class="eq-container">
					<div id="eq-input" class="eq-input mathquill-embedded-latex"></div>
				</div>
			</div>

			<div class="interactive-section">
				<div class="help">
					<h2>Instructions:</h2>
					<p>
						Input different values for the variables of the equation to see how it impacts the result.
					</p>
				</div>
				<div class="box variables">
					<h3>Variables</h3>
					<ul>
						<li ng-repeat="variable in variables" ng-if="variable.js !== 'x'" >
							<div class="variable-input-container">
								<span class="variable-equals">
									<span class="mathquill-variable">
										{{variable.latex}}
									</span>
									= 
								</span>
							
								<input 	class="variable-input"
										type="number"
										ng-model="userInputs[variable.js].val"
										ng-change="calculateResult()"
										ng-class="{empty:userInputs[variable.js].val == null}">
							</div>
							
							<div class='variable-slider'>
								<input 	class='variable-bound variable-bound-lower'
										ng-model="userInputs[variable.js].bounds.min"
										ng-change="calculateResult()">
								<input 	class='variable-range'
										type="range"
										min="{{userInputs[variable.js].bounds.min}}"
										max="{{userInputs[variable.js].bounds.max}}"
										value=0
										ng-model="userInputs[variable.js]._val"
										ng-change="calculateResult()"
										ng-class="{empty:userInputs[variable.js].val == null}">
								<input 	class='variable-bound variable-bound-upper'
										ng-model="userInputs[variable.js].bounds.max"
										ng-change="calculateResult()">
							</div>
						</li>
					</ul>
				</div>
				<div class="box output">
					<div id="jxgbox"></div>
				</div>
			</div>
		</main>


		<!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.4/jsxgraphcore.js"></script> -->
		<script>window.JXG || document.write('<script src="assets/vendor/jsxgraphcore.js"><\/script>')</script>
		
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
		<script>window.jQuery || document.write('<script src="assets/vendor/jquery.min.js"><\/script>')</script>

		<script src="assets/vendor/mathquill-0.9.4/mathquill.min.js"></script>

		<!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script> -->
		<script>window.angular || document.write('<script src="assets/vendor/angular.min.js"><\/script>')</script>


		<!-- MAIN PLAYER SCRIPT -->
		<script src="./assets/js/latex.js"></script>
		<script src="./assets/scripts/player.js"></script>
		<script src="./assets/js/player-app.js"></script>
		<script src="./assets/js/player.js"></script>
	</body>
</html>
