<div ng-controller="PlayerTemplateController">

	<div class="error-msg">
		Unable to parse equation
	</div>

	<main>

		<div class="box eq">
			<h2>Equation:</h2>
			<div class="eq-container">
				<div id="eq-demo-input" class="eq-input mathquill-embedded-latex">
					{{latex}}
				</div>
			</div>
		</div>

		<div class="interactive-section">
			<div class="help">
				<h2>Instructions:</h2>
				<p>
					Input different values for the variables of the equation to see how it impacts the result.
				</p>
			</div>
			<div class="box variables">
				<h3>Variables</h3>
				<ul>
					<li ng-repeat="variable in variables" ng-if="mode === 'resultingY' || variable.js !== 'x'" >
						<div class="variable-input-container">
							<span class="variable-equals">
								<span class="variable-display">
									{{variable.latex}}
								</span>
								=
							</span>

							<input 	class="variable-input"
									type="number"
									ng-model="userInputs[variable.js].val"
									ng-change="update()"
									val="userInputs[variable.js].val">
						</div>

						<div class='variable-slider'>
							<input 	class='variable-bound variable-bound-lower'
									ng-model="userInputs[variable.js].bounds.min"
									ng-change="update()">
							<input 	class='variable-range'
									type="range"
									min="{{userInputs[variable.js].bounds.min}}"
									max="{{userInputs[variable.js].bounds.max}}"
									step=0.01
									value=0
									ng-model="userInputs[variable.js]._val"
									ng-change="update()">
							<input 	class='variable-bound variable-bound-upper'
									ng-model="userInputs[variable.js].bounds.max"
									ng-change="update()">
						</div>
					</li>
				</ul>
			</div>
			<div class="box output" ng-show="mode === 'graphX'">
				<button ng-click="toggleTan()" ng-show="mode === 'graphX' && tanLineOption === 'toggle'">
					{{showTan ? 'Hide Tangent Line' : 'Show Tangent Line'}}
				</button>
				<div ng-if="showTan" class="tan-instructions">Click &amp; drag <span class="tan-dot">•</span> to move tangent line.</div>
				<div id="jxgbox"></div>
			</div>
			<div class="box output" ng-show="mode === 'resultingY'">
				<h3>Result</h3>
				<div class="result">
					<span class="main-var"></span> = <b>{{equationResult}}</b>
				</div>
			</div>
		</div>
	</main>
</div>
