<!DOCTYPE html>
<html ng-app="equationSandbox">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script src="vendor/jsxgraph/jsxgraphcore.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="vendor/mathquill/mathquill.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

		<!-- REQUIRED MATERIA JAVASCRIPT -->
		<script src="materia.enginecore.js"></script>

		<link rel="stylesheet" href="vendor/mathquill/mathquill.css">
		<link rel="stylesheet" href="assets/stylesheets/player.css">
	</head>
	<body class="loading" ng-controller="PlayerController" ng-class="{'parse-error':parseError}">
		<div ng-include="'player.template.html'"></div>

		<footer>
			<h1>Equation Sandbox</h1>
		</footer>

		<div id="loading">Loading...</div>

		<!-- MAIN PLAYER SCRIPT -->
		<script src="./assets/js/player.js"></script>
	</body>
</html>
